---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import LoginImage from '../components/ImageComponent.astro';
import LoginForm from '../components/LoginForm.astro';
import '../styles/global.css';
---
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Space Sync - Login</title>
    <link rel="icon" href="/logo.png" type="image/x-icon" />
</head>
<body class="bg-gradient-to-r from-teal-500 via-emerald-500 to-blue-500 text-white font-sans">
    <Navbar />
    <div class="flex flex-col min-h-screen"> <!-- Usar min-h-screen aquí -->
        <div class="flex flex-col lg:flex-row flex-grow">
            <LoginImage />
            <LoginForm />
        </div>
        <Footer />
    </div>
</body>
</html>
