---
// src/components/Tables.astro

import SlidebarAdmin from '../components/Sidebar_Admin.astro';
import '../styles/global.css';
---

<div class="flex">
  <!-- Sidebar -->
  <aside class="w-64 h-screen bg-gray-800 text-white">
    <SlidebarAdmin />
  </aside>

  <!-- Main Content -->
  <main class="flex-1 p-4">
    <h2 class="text-2xl font-semibold mb-4">Reservas Realizadas</h2>
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium uppercase">Nombre</th>
          <th class="px-6 py-3 text-left text-xs font-medium uppercase">Fecha</th>
          <th class="px-6 py-3 text-left text-xs font-medium uppercase">Hora Inicio</th>
          <th class="px-6 py-3 text-left text-xs font-medium uppercase">Hora Fin</th>
          <th class="px-6 py-3 text-left text-xs font-medium uppercase">Estado</th>
          <th class="px-6 py-3 text-left text-xs font-medium uppercase">Acciones</th>
        </tr>
      </thead>
     
    </table>
  </main>
</div>
