---
const { title, description, imageSrc } = Astro.props;
---

<div class="w-[500px] h-[600px] font-bebas duration-500 group overflow-hidden relative rounded-lg bg-white/30 backdrop-blur-md text-neutral-50 shadow-lg flex flex-col">
  <!-- Elementos decorativos -->
  <div class="absolute blur duration-500 group-hover:blur-none w-72 h-72 rounded-full group-hover:translate-x-12 group-hover:translate-y-12 bg-sky-900 right-1 -bottom-24"></div>
  <div class="absolute blur duration-500 group-hover:blur-none w-12 h-12 rounded-full group-hover:translate-x-12 group-hover:translate-y-2 bg-indigo-700 right-12 bottom-12"></div>
  <div class="absolute blur duration-500 group-hover:blur-none w-36 h-36 rounded-full group-hover:translate-x-12 group-hover:-translate-y-12 bg-indigo-800 right-1 -top-12"></div>
  <div class="absolute blur duration-500 group-hover:blur-none w-24 h-24 bg-sky-700 rounded-full group-hover:-translate-x-12"></div>

  <!-- Contenido de la tarjeta -->
  <div class="flex flex-col justify-between h-full p-4">
    <span class="text-4xl font-bold text-white mt-4">{title}</span> <!-- Título con margen superior -->

    <div class="flex-grow flex flex-col justify-center items-center"> 
      <p class="mt-4 text-xl text-white text-center whitespace-pre-line">
        {description}
      </p> 
      
      <div class="mt-11">
        <img src={imageSrc} alt={title} width="500" height="400" class="w-full h-64 object-cover rounded-lg transition-transform duration-500 transform group-hover:scale-110" />
      </div>
    </div>
  </div>
</div>