<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Equipo Space Sync</title>
</head>
<body>
  <section id="nuestro-equipo" class="py-12 px-4">
    <h2 class="text-4xl font-bold mb-8 text-center">NUESTRO EQUIPO</h2>
    <div class="flex flex-col lg:flex-row justify-center items-center lg:items-start">
      <div class="bg-white bg-opacity-10 backdrop-blur-lg w-full lg:w-[1000px] rounded-[20px] shadow-custom p-8 flex flex-col lg:flex-row items-center">
        <!-- Texto -->
        <div class="flex-1 lg:pr-8 mb-8 lg:mb-0">
          <div class="text-center mb-10"> 
            <p class="bg-clip-text text-transparent bg-gradient-to-r from-[#00275b] to-[#3871c1] text-3xl lg:text-4xl font-bold">Especialistas en Desarrollo Web</p> 
          </div>
          <p class="text-white text-lg lg:text-2xl text-center lg:text-left">
            Nuestro equipo est치 dedicado a ofrecer soluciones innovadoras para la gesti칩n de reservas. Contamos con profesionales con experiencia en desarrollo de software, gesti칩n de proyectos y dise침o de interfaces, siempre enfocados en brindar un servicio de calidad y satisfacer las necesidades de nuestros clientes.
          </p>
        </div>

        <!-- Imagen -->
        <img src="equipo.png" alt="Imagen del equipo" class="team-image w-[200px] lg:w-[300px] h-auto rounded-lg object-cover">
      </div>
    </div>
  </section>
</body>
</html>
