---
// ImageComponent.astro
---
<div class="lg:w-1/2 w-full flex items-center justify-center h-full">
    <img src="login1.gif" alt="Animación de inicio de sesión" class="object-cover w-full h-full" loading="lazy">
</div>
