---
// Componente PlataformaReservas.astro
---
<section id="servicios" class="py-12 text-center">
  <h2 class="text-4xl font-bold mb-8">Nuestra Plataforma de Reservas (SECCIÓN EN MANTENCIÓN)</h2>
  <div class="flex justify-center">
    <img src="" alt="" class="w-[500px] h-[400px] rounded-lg" />
  </div>
  <p class="text-5xl font-semibold mt-4 ">SECCIÓN EN MANTENCIÓN</p>
</section>
