---
import '../styles/global.css';
---
<!-- src/components/Slidebar_User.astro -->
<aside class="w-64 h-screen bg-gray-800 text-white fixed">
    <div class="p-4">
        <h2 class="text-lg font-semibold">Menú</h2>
        <ul class="mt-4">
            <li><a href="/reserva" class="block py-2">¡Haz tú reserva!</a></li>
            <li><a href="/historial" class="block py-2">Mis Reservas</a></li>
            <li><a href="/comentarios" class="block py-2">Comentarios</a></li>
            <li><a href="/soporte" class="block py-2">Soporte</a></li>
            
        </ul>
    </div>
</aside>
