---
// Slidebar_User.astro
---
<nav class="bg-white w-64 h-screen shadow-md">
    <div class="p-4">
        <h2 class="text-lg font-semibold">Space Sync</h2>
    </div>
    <ul class="space-y-2">
        <li><a href="#" onclick="navigate('Instrucciones')" class="block p-4 text-gray-700 hover:bg-gray-200">Instrucciones</a></li>
        <li><a href="#" onclick="navigate('Historial')" class="block p-4 text-gray-700 hover:bg-gray-200">Mis Reservas</a></li>
        <li><a href="#" onclick="navigate('Reserva')" class="block p-4 text-gray-700 hover:bg-gray-200">Haz tú reserva</a></li>
        <li><a href="#" onclick="navigate('settings')" class="block p-4 text-gray-700 hover:bg-gray-200">Configuraciones</a></li>
        <li><a href="#" onclick="navigate('logout')" class="block p-4 text-gray-700 hover:bg-gray-200">Cerrar Sesión</a></li>
    </ul>
</nav>
